/* ======== HEADER-SECTION-START ======== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section{
    background-color: whitesmoke;
}

/* -------- NAVBER-SECTION-START -------- */

/* ---- NAVBER-1-START ---- */

.navber-section nav .navber-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.8vh;
    max-width: 80vw;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.navber-section nav .navber-1 .logo h1{
    font-size: 26.48px;
    text-transform: uppercase;
}

.navber-section nav .navber-1 .navber-1-link ul{
    display: flex;
    gap: 48.88px;
}

.navber-section nav .navber-1 .navber-1-link ul li{
    list-style: none;
}

.navber-section nav .navber-1 .navber-1-link ul li a{
    text-decoration: none;
    color: black;
    font-size: 26.48px;
}

/* ---- NAVBER-1-COMPLETE ---- */