/* ======== HEADER-SECTION-START ======== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section{
    background-color: whitesmoke;
}

/* -------- NAVBER-SECTION-START -------- */

/* ---- NAVBER-1-START ---- */

.navber-section nav .navber-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 8.8vh;
}

.navber-section nav .navber-1 .logo h1{
    font-size: 26.88px;
}

.navber-section nav .navber-1 .navber-1-link ul{
    display: flex;
    gap: 48.88px;
}

.navber-section nav .navber-1 .navber-1-link ul li{
    list-style: none;
}

.navber-section nav .navber-1 .navber-1-link ul li a{
    text-decoration: none;
    color: black;
    font-size: 26.88px;
}

/* ---- NAVBER-1-COMPLETE ---- */